* {
  font-size: 0;
  outline: none;
  background: none;
}

.body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header {
  margin: 10px auto;
  text-align: center;

  &__title {
    font-size: 20px;
  }
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.button {
  padding: 5px;
  border-radius: 4px;
  font-size: 14px;
  background-color: #575757;
  color: #ffffff;
  cursor: pointer;
}

.button:hover {
  opacity: 0.9;
}